<form method="post" action="{{ path('app_clinique_delete', {'id': clinique.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ clinique.id) }}">
    <button class="btn">Delete</button>
</form>
