{% extends 'base.html.twig' %}

{% block title %}Edit Clinique{% endblock %}

{% block body %}
    <h1>Edit Clinique</h1>

    {{ include('clinique/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_clinique_index') }}">back to list</a>

    {{ include('clinique/_delete_form.html.twig') }}
{% endblock %}
