{% extends 'base.html.twig' %}

{% block title %}Clinique index{% endblock %}

{% block body %}
  {% if is_granted('ROLE_ADMIN') %}
    <h1>Clinique index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Libelle</th>
                <th>Adressepostal</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for clinique in cliniques %}
            <tr>
                <td>{{ clinique.id }}</td>
                <td>{{ clinique.libelle }}</td>
                <td>{{ clinique.adressepostal }}</td>
                <td>
                    <a href="{{ path('app_clinique_show', {'id': clinique.id}) }}">show</a>
                    <a href="{{ path('app_clinique_edit', {'id': clinique.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_clinique_new') }}">Create new</a>
{% endif %}
{% endblock %}
