{% extends 'base.html.twig' %}

{% block title %}New Clinique{% endblock %}

{% block body %}
    <h1>Create new Clinique</h1>

    {{ include('clinique/_form.html.twig') }}

    <a href="{{ path('app_clinique_index') }}">back to list</a>
{% endblock %}
