{% extends 'base.html.twig' %}

{% block title %}Clinique{% endblock %}

{% block body %}
    <h1>Clinique</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ clinique.id }}</td>
            </tr>
            <tr>
                <th>Libelle</th>
                <td>{{ clinique.libelle }}</td>
            </tr>
            <tr>
                <th>Adressepostal</th>
                <td>{{ clinique.adressepostal }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_clinique_index') }}">back to list</a>

    <a href="{{ path('app_clinique_edit', {'id': clinique.id}) }}">edit</a>

    {{ include('clinique/_delete_form.html.twig') }}
{% endblock %}
