<form method="post" action="{{ path('app_sousspecialite_delete', {'id': sousspecialite.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ sousspecialite.id) }}">
    <button class="btn">Delete</button>
</form>
