{% extends 'base.html.twig' %}

{% block title %}Edit Sousspecialite{% endblock %}

{% block body %}
    <h1>Edit Sousspecialite</h1>

    {{ include('sousspecialite/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_sousspecialite_index') }}">back to list</a>

    {{ include('sousspecialite/_delete_form.html.twig') }}
{% endblock %}
