{% extends 'base.html.twig' %}

{% block title %}Sousspecialite index{% endblock %}

{% block body %}
    <h1>Sousspecialite index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Libelle</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for sousspecialite in sousspecialites %}
            <tr>
                <td>{{ sousspecialite.id }}</td>
                <td>{{ sousspecialite.libelle }}</td>
                <td>
                    <a href="{{ path('app_sousspecialite_show', {'id': sousspecialite.id}) }}">show</a>
                    <a href="{{ path('app_sousspecialite_edit', {'id': sousspecialite.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_sousspecialite_new') }}">Create new</a>
{% endblock %}
