{% extends 'base.html.twig' %}

{% block title %}New Sousspecialite{% endblock %}

{% block body %}
    <h1>Create new Sousspecialite</h1>

    {{ include('sousspecialite/_form.html.twig') }}

    <a href="{{ path('app_sousspecialite_index') }}">back to list</a>
{% endblock %}
