{% extends 'base.html.twig' %}

{% block title %}Sousspecialite{% endblock %}

{% block body %}
    <h1>Sousspecialite</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ sousspecialite.id }}</td>
            </tr>
            <tr>
                <th>Libelle</th>
                <td>{{ sousspecialite.libelle }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_sousspecialite_index') }}">back to list</a>

    <a href="{{ path('app_sousspecialite_edit', {'id': sousspecialite.id}) }}">edit</a>

    {{ include('sousspecialite/_delete_form.html.twig') }}
{% endblock %}
