{% extends 'base.html.twig' %}

{% block title %}New Commentaire{% endblock %}

{% block body %}
    <h1>Create new Commentaire</h1>
    

    {{ include('commentaire/_form.html.twig') }}


    <a href="{{ path('app_commentaire_index') }}">back to list</a>
{% endblock %}
