{% extends 'base.html.twig' %}

{% block title %}Edit User{% endblock %}

{% block body %}
<div class="container mt-5">
<div class="card">
<div class="card-header bg-primary text-white text-center py-3">
<h3>Edit User</h3>
</div>
<div class="card-body">
{{ include('user/_form.html.twig', {'button_label': 'Update'}) }}
            <div class="d-flex justify-content-center">
                {{ include('user/_delete_form.html.twig') }}
            </div>
        </div>
    </div>
</div>
{% endblock %}



