{% extends 'base.html.twig' %}

{% block title %}User{% endblock %}

{% block body %}
<div class="container mt-5">
<div class="card">
<div class="card-header bg-primary text-white text-center py-3">
<h3>User Profile</h3>
</div>
<div class="card-body">
<table class="table table-striped">
<tbody>
<tr>
<th>Email</th>
<td>{{ user.email }}</td>
</tr>
<tr>
<th>Nom</th>
<td>{{ user.nom }}</td>
</tr>
<tr>
<th>Prenom</th>
<td>{{ user.prenom }}</td>
</tr>
<tr>
<th>Adresse</th>
<td>{{ user.adresse }}</td>
</tr>
</tbody>
</table>
</div>
</div>
</div>
</div>
{% endblock %}