{% extends 'base.html.twig' %}

{% block title %}Profile{% endblock %}

{% block body %}
<div class="container mt-5">
<div class="card">
<div class="card-header bg-primary text-white text-center py-3">
<h3>Information</h3>
</div>
<div class="card-body">
<table class="table table-striped">
<tbody>
<tr>
<th>Email</th>
<td>{{ user.email }}</td>
</tr>
<tr>
<th>Nom</th>
<td>{{ user.nom }}</td>
</tr>
<tr>
<th>Prenom</th>
<td>{{ user.prenom }}</td>
</tr>
<tr>
<th>Adresse</th>
<td>{{ user.adresse }}</td>
</tr>
{% if user.isMedecin %}
<tr>
<th>Clinique</th>
<td>{{ user.nomClinique }}</td>
</tr>
<tr>
<th>Adresse de la Clinique</th>
<td>{{ user.cliniqueAdresse }}</td>
</tr>
<tr>
<th>Spécialité</th>
<td>{% for Spe in user.Specialite %}
          {{ Spe.libelle}}
          {% endfor %}</td>
</tr>
<tr>
<th>Nombres de Favoris</th>
<td>{{ user.favoris }}
{{ user.favoris == null ? 0 : ""}}
</td>
</tr>
{% endif %}
</tbody>
</table>
{% if app.user %}
{% if app.user.id == user.id %}
<div class="d-flex justify-content-center">
<a href="{{ path('app_user_edit', {'id': user.id}) }}" class="btn btn-primary mr-2" style="margin-right: 1rem;">Edit</a>
<form method="post" action="{{ path('app_user_delete', {'id': user.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ user.id) }}">
<button class="btn btn-danger">Delete</button>
</form>
{% else %}
{% if user.isMedecin %}
<div class="d-flex justify-content-center">
{% if app.user.rdv == 0 %}
<a href="/rendezvous/new" class="btn btn-primary mr-2" style="margin-right: 1rem;">Prendre Rendez-vous</a>
{% else %}
<a href="#" class="btn btn-danger mr-2" style="margin-right: 1rem;">Supprimer Rendez-vous</a>
{% endif %}
<a href="/commentaire/new" class="btn btn-info mr-2" style="margin-right: 1rem;">Laissez votre avis</a>
<form method="post" action="{{ path('app_user_add_favoris', {'id': user.id}) }}">
  <input type="hidden" name="_token" value="{{ csrf_token('add_favoris' ~ user.id) }}">
  <button type="submit" class="btn btn-warning">Favoris</button>
</form>
</div>
{% endif %}
{% endif %}
{% endif %}
{% if is_granted('ROLE_ADMIN') %}
<div class="d-flex justify-content-center">
<a href="{{ path('app_user_edit', {'id': user.id}) }}" class="btn btn-primary mr-2" style="margin-right: 1rem;">Edit</a>
<form method="post" action="{{ path('app_user_delete', {'id': user.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ user.id) }}">
<button class="btn btn-danger">Delete</button>
</form>
{% endif %}
</div>
</div>
</div>
</div>

{% if user.isMedecin %}
<div class="container mt-5">
<div class="card">
<div class="card-header bg-primary text-white text-center py-3">
<h3>Commentaires</h3>
</div>
<div class="card-body">
<table class="table table-striped">
<tbody>
{% for Com in user.Commentaire %}
  <th>{{ Com.libelle}}</th>
  <td>{{ Com.description }}</td>
</tr>
{% endfor %}
</tbody>
</table>
</div>
</div>
</div>
{% endif %}
<script type="text/javascript">
const link = document.querySelector("a.btn.btn-primary.mr-2");

let rdv = 0;

if (rdv === 1) {
  link.setAttribute("href", "#");
}

link.addEventListener("click", function() {
  rdv = 1;
  link.setAttribute("href", "/rendezvous/new");
  link.setAttribute("class", "btn btn-danger mr-2");
  link.innerHTML = "Supprimer Rendez-vous";
});

</script>
{% endblock %}