{% extends 'base.html.twig' %}

{% block title %}Sexe index{% endblock %}

{% block body %}
    <h1>Sexe index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for sexe in sexes %}
            <tr>
                <td>{{ sexe.id }}</td>
                <td>
                    <a href="{{ path('app_sexe_show', {'id': sexe.id}) }}">show</a>
                    <a href="{{ path('app_sexe_edit', {'id': sexe.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="2">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_sexe_new') }}">Create new</a>
{% endblock %}
