{% extends 'base.html.twig' %}

{% block title %}Sexe{% endblock %}

{% block body %}
    <h1>Sexe</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ sexe.id }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_sexe_index') }}">back to list</a>

    <a href="{{ path('app_sexe_edit', {'id': sexe.id}) }}">edit</a>

    {{ include('sexe/_delete_form.html.twig') }}
{% endblock %}
