{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}

<style type="text/css">
.forgot-password {
    color: #FF4141;
}

.forgot-password:hover {
    color: #FF4141;
}

.color-blue {
  color: #26ADFF;
}

.color-blue:hover {
  color: #0080CE;
}

.logodocto{
  width:7rem;
   height:4rem;
   margin: -1.5rem 2.5rem -1.5rem 1rem;
}

.profile{
    width: -10.2rem;
    height: 1.5999999999999996rem;
  margin-right:0.4rem;
  margin-top:-0.2rem;
}

.carousel-item{
  width : 100%;
  height : 30rem;
  object-fit: contain;

}


</style>

<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <a class="navbar-brand text-primary" href="#">
  <img src="https://i2.wp.com/carbonnel-osteopathe-toulouse.fr/wp-content/uploads/2019/01/Logo-doctolib-bleu-tr-1.png?fit=2000%2C1286&ssl=1" alt="Doctolib logo" class="logodocto">
</a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
<ul class="navbar-nav ms-auto mb-2 mb-lg-0">
  {% if app.user %}
  {% if is_granted('ROLE_ADMIN') %}
      <li class="nav-item ml-auto">
    <a class="nav-link forgot-password text-warning" href="/user">Utilisateurs</a>
  </li>
      <li class="nav-item ml-auto">
    <a class="nav-link forgot-password text-warning" href="/specialite">Spécialité</a>
  </li>
      <li class="nav-item ml-auto">
    <a class="nav-link forgot-password text-warning" href="/rendezvous">Rendez-vous</a>
  </li>
      <li class="nav-item ml-auto">
    <a class="nav-link forgot-password text-warning" href="/commentaire">Commentaire</a>
  </li>
    <li class="nav-item ml-auto">
    <a class="nav-link forgot-password text-warning" href="/clinique">Clinique</a>
  </li>
  {% endif %}
  <li class="nav-item ml-auto">
<a class="nav-link color-blue" href="{{ path('app_user_show', {'id': app.user.id}) }}">
  <img src="https://cdn-icons-png.flaticon.com/512/3237/3237472.png" alt="Profil icon" class="icon profile"> Afficher profil
</a>
  </li>
  <li class="nav-item ml-auto">
    <a class="nav-link forgot-password" href="{{ path('app_logout') }}">Déconnexion</a>
  </li>
<li class="nav-item ml-auto">
  <a class="nav-link forgot-password" href="/reset-password">Mot de passe oublié</a>
</li>
  {% else %}
  <li class="nav-item ml-auto">
    <a class="nav-link color-blue" href="{{path ('app_login') }}">Connexion</a>
  </li>
  <li class="nav-item ml-auto">
    <a class="nav-link color-blue" href="{{path ('app_register') }}">Inscription</a>
  </li>
    {% if app.user %}
<li class="nav-item ml-auto">
  <a class="nav-link forgot-password" href="{{ path('app_reset_password') }}">Mot de passe oublié</a>
</li>
  {% endif %}
  {% endif %}
</ul>
    </div>
  </div>
</nav>

<div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active" data-bs-interval="5000">
      <img src="https://media.istockphoto.com/id/1166486881/vector/patient-care-and-clinical-services-illustration-of-medical-care-with-characters-of-certified.jpg?s=612x612&w=0&k=20&c=Tx7xo2-dbtYODR0jda57BYfftYUxZTdj0-bnqAltLAY=" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item" data-bs-interval="5000">
      <img src="https://media.istockphoto.com/id/1194838627/vector/patient-in-hospital.jpg?s=612x612&w=0&k=20&c=LqhY8qXr1IgGA0PjGLwqEyVJL-MBTFBU5rf3Dcg4DWo=" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item" data-bs-interval="5000">
      <img src="https://t4.ftcdn.net/jpg/03/34/14/09/360_F_334140979_VP5xWrVS6Mmboibzb7TpAEFxUqPSOltk.jpg" class="d-block w-100" alt="...">
    </div>
  </div>
</div>

<div class="container">
<h1 class="text-center">Bienvenue <span class = "text-primary"> {{app.user ? app.user.prenom : "à vous"}} </span> sur Doctolib!</h1>
</div>
<div class ="d-flex justify-content-center w-100">
<div class="d-flex flex-row w-75 justify-content-center gap-3 flex-lg-wrap ">
  {% for user in users %}
    {% if user.isMedecin %}
      <div class="card mb-3" style="width: 18rem; text-align:center;">
        <div style="display: flex; align-items: center;">
          {% if user.Sexe.libelle == "Homme"%}
            <img src="https://cdn.icon-icons.com/icons2/1736/PNG/512/4043260-avatar-male-man-portrait_113269.png" alt="Avatar" style="width:100px; height:100px;  margin: auto">
          {% else %}
            <img src="https://cdn.icon-icons.com/icons2/1736/PNG/512/4043247-1-avatar-female-portrait-woman_113261.png" alt="Avatar" style="width:100px; height:100px;  margin: auto">
          {% endif %}
        </div>
        <div class="card-body">
          <h5 class="card-title">{{ user.prenom }} {{ user.nom }}</h5>
          <h6 class="card-subtitle mb-2 text-muted">Clinique : {{ user.nomClinique }}</h6>
          <p class="card-text">Adresse de la clinique :{{ user.cliniqueAdresse }}</p>
          <p class="card-text">Spécialité :{% for Spe in user.Specialite %}
            {{ Spe.libelle}}
          {% endfor %}</p>
          <a href="/user/{{user.id}}" class="btn btn-primary text-light" role="button">Visiter profil</a>
        </div>
      </div>
    {% endif %}
  {% endfor %}
</div>
</div>
{% endblock %}
