{% extends 'base.html.twig' %}

{% block title %}Reset your password{% endblock %}

{% block body %}
<div class="card" style="width: 30rem; margin: 0 auto;">
  <div class="card-body">
    {% for flash_error in app.flashes('reset_password_error') %}
      <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}
    <h5 class="card-title text-center">Réinitialiser votre mot de passe</h5>

    {{ form_start(requestForm) }}
      <div class="form-group">
        {{ form_row(requestForm.email) }}
      </div>
      <div class="form-group">
        <small>
          Entrez votre adresse e-mail et nous vous enverrons un
          lien pour réinitialiser votre mot de passe.
        </small>
      </div>
      <button class="btn btn-primary btn-block">Envoyer l'e-mail de réinitialisation de mot de passe</button>
    {{ form_end(requestForm) }}
  </div>
</div>
{% endblock %}
