<html>
  <head>
    <style>
      h1 {
        font-size: 20px;
        font-weight: bold;
        text-align: center;
        color: #2196F3;
      }
      p {
        font-size: 16px;
        text-align: center;
        margin: 20px;
      }
      a {
        font-size: 16px;
        font-weight: bold;
        color: #2196F3;
        text-decoration: none;
      }
    </style>
  </head>
  <body>
    <h1>Hi! Please confirm your email!</h1>
    <p>
      Please confirm your email address by clicking the following link:<br><br>
      <a href="{{ signedUrl|raw }}">Confirm my Email</a>.
      This link will expire in {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
    </p>
    <p>Cheers!</p>
  </body>
</html>