{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}


    {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}

<div class="card text-center">
  <div class="card-header">
    <h1>Inscription</h1>
  </div>
  <div class="card-body">
    {{ form_start(registrationForm) }}
        <div class="form-group">
            {{ form_row(registrationForm.nom, { 'label_attr': { 'class': 'control-label' } }) }}
            {{ form_row(registrationForm.prenom, { 'label_attr': { 'class': 'control-label' } }) }}
            {{ form_row(registrationForm.Sexe, { 'label_attr': { 'class': 'control-label' } }) }}
            {{ form_row(registrationForm.adresse, { 'label_attr': { 'class': 'control-label' } }) }}
            {{ form_row(registrationForm.email, { 'label_attr': { 'class': 'control-label' } }) }}
            {{ form_row(registrationForm.plainPassword, {
                label: 'Mot de passe',
                'label_attr': { 'class': 'control-label' }
            }) }}
        </div>
        <div class="form-group form-check">
            {{ form_widget(registrationForm.is_medecin, { 'label_attr': { 'class': 'form-check-label' } }) }}
            <label class="form-check-label" for="registration_form_is_medecin">Êtes-vous un médecin ?</label>
        </div>
        <div id="nom_clinique" style="display:none;">
            {{ form_label(registrationForm.nom_clinique, 'Nom de la clinique') }}
            {{ form_widget(registrationForm.nom_clinique) }}
        </div>
        <div id="clinique_adresse" style="display:none;">
            {{ form_label(registrationForm.clinique_adresse, 'Adresse de la clinique') }}
            {{ form_widget(registrationForm.clinique_adresse) }}
        </div>
        {{ form_row(registrationForm.agreeTerms, { 'label_attr': { 'class': 'control-label' } }) }}
    <button type="submit" class="btn">Register</button>
{{ form_end(registrationForm) }}

<script>
    var checkbox = document.querySelector("input[name='registration_form[is_medecin]']");
    var nomClinique = document.querySelector("#nom_clinique");
    var cliniqueAdresse = document.querySelector("#clinique_adresse");

    checkbox.addEventListener("change", function() {
        if (checkbox.checked) {
            nomClinique.style.display = "block";
            cliniqueAdresse.style.display = "block";
        } else {
            nomClinique.style.display = "none";
            cliniqueAdresse.style.display = "none";
        }
    });
</script>

{% endblock %}
